@media (min-width: 720px) {
    footer.page {
        flex-direction: row;
        justify-content: center;
        gap: 5rem;
    }
}

footer.page {
    background: var(--fg);
    color: white;
    padding: 2rem .5rem;
    display: flex;
}

footer section {
    display: block;
    unicode-bidi: isolate;
}

footer.page h2{
    margin-bottom: .5rem;
    border-bottom: 2px solid white;
    padding: .25rem 0;
}

footer.page menu {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: .5rem;

}

footer.page menu li {
    display: list-item;
    unicode-bidi: isolate;
}

footer.page menu li a {
    color: unset;
    text-decoration: unset;
}

footer.page menu li a:hover {
    text-decoration: underline;
}