header {
    display: block;
    unicode-bidi: isolate;
}

header.page nav {
    background-color: blueviolet;
    color: white;
}

header.page div {
    display: flex;
    justify-content: space-between;
}

header.page a:hover {
    color: rgb(241, 241, 241);
    text-decoration: underline;
}

header.page menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 1.15em;
}

header.page menu.top-right-bar {
    display: flex;
    }

header.page menu li {
    padding: .25rem;
    margin-block-start: .3em;
    margin-block-end: .3em;
    padding-inline: 10px;
    unicode-bidi: isolate;
}

header.page menu li:not(:last-child) {
      border-right: 1px solid var(--bg)
}

li {display: list-item;
    unicode-bidi: isolate;
}

.top-menu {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0.25rem;
}

menu {
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
    margin: 0px;
}

a {
    color: unset;
    text-decoration: unset;
    cursor: pointer;
}
